Repository DuendeSoftware/foss, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

Don't use `Lazy` for TokenIntrospectionResponse properties
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
Owners: @DuendeSoftware/team-is

Implement all properties for TokenIntrospectionResponse optional claims
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Don't throw if the exp, iat or nbf claim is not a valid number
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
Owners: @DuendeSoftware/team-is

Do not hide potential claim to DateTimeOffset conversion exception
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
Owners: @DuendeSoftware/team-is

add constants and helper methods for DPopProofAdditionalPayloadClaims
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementDefaults.cs
  access-token-management/src/AccessTokenManagement/DPoPExtensions.cs
Owners: @DuendeSoftware/team-bff

added metrics to token used
  Directory.Packages.props
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserAccessTokenManagementService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/AccessTokenManagementMetrics.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsToken.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/StoreTokensInAuthenticationPropertiesTests.cs
Owners: @DuendeSoftware/team-bff

Added support for making JWT introspection requests.
  identity-model/src/IdentityModel/Client/ClientOptions.cs
  identity-model/src/IdentityModel/Client/IntrospectionClient.cs
  identity-model/src/IdentityModel/Client/IntrospectionResponseFormat.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
Owners: @DuendeSoftware/team-is

Update .editorconfig
  .editorconfig
Owners: none

Use the `token_introspection` value as the base. Update the unit test to include all the claims in the sample Jwt. Updated the verivied api document.
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Minor tidy up
  identity-model/src/IdentityModel/Client/Messages/ProtocolResponse.cs
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
Owners: @DuendeSoftware/team-is

Updated unit test for Json response to include claims compare
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
Owners: @DuendeSoftware/team-is

Test tweaks
  identity-model/src/IdentityModel/Client/HttpClientTokenIntrospectionExtensions.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
Owners: @DuendeSoftware/team-is

Added new internal http response extension and updated ProtocolResponse base.
  identity-model/src/IdentityModel/Client/Messages/ProtocolResponse.cs
  identity-model/src/IdentityModel/Internal/HttpResponseMessageExtensions.cs
Owners: @DuendeSoftware/team-is

Adds support for making and receiving JWT-based introspection requests.
  identity-model/src/IdentityModel/Client/ClientOptions.cs
  identity-model/src/IdentityModel/Client/HttpClientTokenIntrospectionExtensions.cs
  identity-model/src/IdentityModel/Client/IntrospectionClient.cs
  identity-model/src/IdentityModel/Client/IntrospectionResponseFormat.cs
  identity-model/src/IdentityModel/Client/Messages/ProtocolResponse.cs
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionRequest.cs
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
  identity-model/src/IdentityModel/Internal/HttpResponseMessageExtensions.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  identity-model/test/IdentityModel.Tests/documents/success_introspection_response.jwt
Owners: @DuendeSoftware/team-is

Add IDisposable to ProtocolResponse
  identity-model/src/IdentityModel/Client/Messages/ProtocolResponse.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenRequestExtensionsResponseTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Remove global.json and sdk pinning
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  global.json
Owners: @DuendeSoftware/product-owners

Use .net sdk 9.0.203 in builds, roll forward in global.json
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  .vscode/settings.json
  global.json
Owners: @DuendeSoftware/product-owners

Update access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenManagementOptions.cs
Owners: @DuendeSoftware/team-bff

fix review comments from joe
  access-token-management/samples/BlazorServer/HostingExtensions.cs
  access-token-management/samples/Web/Startup.cs
  access-token-management/samples/WebJarJwt/Startup.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandlerOfT.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandlerRequestParameters.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/DPopProofRequestParameters.cs
  access-token-management/src/AccessTokenManagement/IDPopProofRequestHandler.cs
  access-token-management/src/AccessTokenManagement/ISendRequestRetryHandler.cs
  access-token-management/src/AccessTokenManagement/Implementation/DPopProofRequestHandler.cs
  access-token-management/src/AccessTokenManagement/RetryWhenUnauthorizedHandler.cs
  access-token-management/src/AccessTokenManagement/SendRequestWithToken.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
Owners: @DuendeSoftware/team-bff

Update access-token-management/src/AccessTokenManagement/Implementation/ClientCredentialsTokenRetriever.cs
  access-token-management/src/AccessTokenManagement/Implementation/ClientCredentialsTokenRetriever.cs
Owners: @DuendeSoftware/team-bff

cleanup
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/DPopProofRequestParameters.cs
  access-token-management/src/AccessTokenManagement/Implementation/ClientCredentialsTokenRetriever.cs
  access-token-management/src/AccessTokenManagement/Implementation/DPopProofRequestHandler.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

made implementation internal
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenRetriever.cs
  access-token-management/src/AccessTokenManagement/Internal/DPoPNonceStoreKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/Internal/DPopProofRequestHandler.cs
  access-token-management/src/AccessTokenManagement/Internal/DefaultClientCredentialsCacheKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/Internal/DuendeAccessTokenSerializationContext.cs
  access-token-management/src/AccessTokenManagement/Internal/HybridClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/Internal/HybridDPoPNonceStore.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
Owners: @DuendeSoftware/team-bff

moving to non-generic token retriever
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Implementation/OpenIdConnectClientAccessTokenRetriever.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Implementation/OpenIdConnectUserAccessTokenRetriever.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandlerOfT.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/ITokenRetriever.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenRetriever.cs
  access-token-management/src/AccessTokenManagement/Internal/DPopProofRequestHandler.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

Update .editorconfig
  .editorconfig
Owners: none

Expand test coverage of disco response
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/DiscoveryExtensionsTests.cs
  identity-model/test/IdentityModel.Tests/documents/discovery.json
Owners: @DuendeSoftware/team-is

Failing test for TokenEndpointAuthenticationSigningAlgorithmsSupported
  identity-model/src/IdentityModel/Client/Messages/DiscoveryDocumentResponse.cs
  identity-model/src/IdentityModel/OidcConstants.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/DiscoveryExtensionsTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  identity-model/test/IdentityModel.Tests/documents/discovery.json
Owners: @DuendeSoftware/team-is

Pass test for TokenEndpointAuthenticationSigningAlgorithmsSupported
  identity-model/src/IdentityModel/Client/Messages/DiscoveryDocumentResponse.cs
Owners: @DuendeSoftware/team-is

added public api verification tests
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerification.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/StoreTokensInAuthenticationPropertiesTests.cs
Owners: @DuendeSoftware/team-bff

include the ID token in the refresh token result
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserToken.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
Owners: @DuendeSoftware/team-bff

add typed client support
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
Owners: @DuendeSoftware/team-bff

Add support for additional claims in DPoP proof payload
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/DPoPExtensions.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/Interfaces/IDPoPProofService.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

Include error description in token error response
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
Owners: @DuendeSoftware/team-bff

Use built error string
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
Owners: @DuendeSoftware/team-bff

Add support for client_secret_jwt
  identity-model/src/IdentityModel/OidcConstants.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Install maui workload as part of build so the maui app will compile
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/ignore-this-ci.yml
Owners: @DuendeSoftware/product-owners

Revert "Install maui workload as part of build so the maui app will compile"
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/ignore-this-ci.yml
Owners: @DuendeSoftware/product-owners

added clientname to some methods
  access-token-management/perf/Perf.TokenEndpoint/Program.cs
  access-token-management/samples/Worker/Program.cs
  access-token-management/samples/Worker/WorkerManual.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/Fixtures/ClientCredentialsFixture.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

Support .NET 10
  .github/workflow-gen/Program.cs
  .github/workflow-gen/workflow-gen.csproj
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  Directory.Packages.props
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Perf.DevServer.ServiceDefaults.csproj
  access-token-management/perf/Perf.DevServer/Perf.DevServer.csproj
  access-token-management/perf/Perf.IdentityServer/Perf.IdentityServer.csproj
  access-token-management/perf/Perf.TokenEndpoint/Perf.TokenEndpoint.csproj
  access-token-management/samples/BlazorServer/BlazorServer.csproj
  access-token-management/samples/Web/Web.csproj
  access-token-management/samples/WebJarJwt/WebJarJwt.csproj
  access-token-management/samples/Worker/Worker.csproj
  access-token-management/samples/WorkerDI/WorkerDI.csproj
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AccessTokenManagement.OpenIdConnect.csproj
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
  access-token-management/test/AccessTokenManagement.Tests/LogExpirationTests.cs
  global.json
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/IdentityModel.OidcClient.Extensions.csproj
  identity-model-oidc-client/src/IdentityModel.OidcClient/IdentityModel.OidcClient.csproj
  identity-model-oidc-client/src/TrimmableAnalysis/TrimmableAnalysis.csproj
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/IdentityModel.OidcClient.Tests.csproj
  identity-model/samples/HttpClientFactory/HttpClientFactory.csproj
  identity-model/src/IdentityModel/IdentityModel.csproj
  identity-model/src/TrimmableAnalysis/TrimmableAnalysis.csproj
  identity-model/test/IdentityModel.Tests/IdentityModel.Tests.csproj
  ignore-this/src/IgnoreThis/IgnoreThis.csproj
  ignore-this/test/IgnoreThis.Tests/IgnoreThis.Tests.csproj
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

This was causing source generator build errors.
  access-token-management/test/AccessTokenManagement.Tests/LogExpirationTests.cs
Owners: @DuendeSoftware/team-bff

Specify the exact .net 10 sdk version
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
Owners: @DuendeSoftware/product-owners

.github/CODEOWNERS:

/.github @DuendeSoftware/product-owners
/access-token-management/ @DuendeSoftware/team-bff
/identity-model/ @DuendeSoftware/team-is
/identity-model-oidc-client/ @DuendeSoftware/team-is
