Repository DuendeSoftware/foss, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

added check access token validity before refresh
  identity-model-oidc-client/src/IdentityModel.OidcClient/RefreshTokenDelegatingHandler.cs
Owners: @DuendeSoftware/team-is

fix: add missing client_id in device authorization request
  identity-model/src/IdentityModel/Client/HttpClientDeviceFlowExtensions.cs
Owners: @DuendeSoftware/team-is

add additional parameters when refreshing/revoking tokens
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/OpenIdConnectUserTokenEndpoint.cs
Owners: @DuendeSoftware/team-bff

use id token hint
  access-token-management/samples/Web/Startup.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/Fixtures/AccessTokenHandlingBaseFixture.cs
Owners: @DuendeSoftware/team-bff

Merge pull request #314 from DuendeSoftware/pg/token-management
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/OpenIdConnectUserTokenEndpoint.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
Owners: @DuendeSoftware/team-bff

Downgrade 4 user token log messages from Error to Warning
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/OpenIdConnectUserTokenEndpoint.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/StoreTokensInAuthenticationProperties.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/UserAccessTokenManagementService.cs
Owners: @DuendeSoftware/team-bff

Fix readme references to old .NET versions
  identity-model-oidc-client/samples/HttpSysConsoleClient/README.md
  identity-model-oidc-client/samples/NetCoreConsoleClient/README.md
  identity-model-oidc-client/samples/WindowsConsoleSystemBrowser/README.md
Owners: @DuendeSoftware/team-is

New factory to create client assertions on demand
  fix.md
  foss.slnx
  identity-model-oidc-client/clients/ConsoleClientWithBrowser/Program.cs
  identity-model-oidc-client/clients/ConsoleClientWithBrowser/SystemBrowser.cs
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/ClientAssertionService.cs
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/NetCoreConsoleClient.csproj
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/Program.cs
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/SystemBrowser.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/AuthorizeClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/IdentityModel.OidcClient.csproj
  identity-model-oidc-client/src/IdentityModel.OidcClient/OidcClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/ResponseProcessor.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/ProofTokenMessageHandlerTests.cs
  identity-model/samples/ClientAssertions/ClientAssertionService.cs
  identity-model/samples/ClientAssertions/ClientAssertions.csproj
  identity-model/samples/ClientAssertions/Program.cs
  identity-model/src/IdentityModel/Client/HttpClientPushedAuthorizationExtensions.cs
  identity-model/src/IdentityModel/Client/HttpClientTokenRequestExtensions.cs
  identity-model/src/IdentityModel/Client/Messages/ProtocolRequest.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/PushedAuthorizationTests.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenRequestExtensionsRequestTests.cs
  identity-model/test/IdentityModel.Tests/ProtocolRequestTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-is

Refresh Client Assertion on DPOP Nonce failure
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/AuthorizationServerDPoPHandler.cs
  access-token-management/test/AccessTokenManagement.Tests/DPoPWithClientAssertionsTests.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IdentityServerHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IntegrationTestBase.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/JwtClientAssertionService.cs
Owners: @DuendeSoftware/team-bff

Set ExtensionsVersion to 10.0.4 to enforce a transitive update on MS.BCL.Memory due to a CVE
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

Set SDK to 10.0.200 in global.json
  global.json
Owners: @DuendeSoftware/product-owners

Install SDK 10.0.200 in workflows
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  .github/workflows/introspection-ci.yml
  .github/workflows/introspection-release.yml
Owners: @DuendeSoftware/product-owners

Add explicit package reference to MS.Bcl.Memory to solve nuget restore errrors
  Directory.Packages.props
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/IdentityModel.OidcClient.Extensions.csproj
  identity-model-oidc-client/src/IdentityModel.OidcClient/IdentityModel.OidcClient.csproj
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/AspNetCore.Authentication.OAuth2Introspection.csproj
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

imoc: Bump Duende.IdentityModel to 8.0.1
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

Set extensions version to 10.0.4
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

Bump Duende.IdentityModel to 8.0.1
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

Use .net SDK 10.0.200
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  .github/workflows/introspection-ci.yml
  .github/workflows/introspection-release.yml
  global.json
Owners: @DuendeSoftware/product-owners

Bump Duende.IdentityModel to 8.0.1
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

allow openid connect login with par & client assertions to work
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/ConfigureOpenIdConnectOptions.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IdentityServerHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IntegrationTestBase.cs
  access-token-management/test/AccessTokenManagement.Tests/PARWithClientAssertionsTests.cs
Owners: @DuendeSoftware/team-bff

demo.duende.com
  access-token-management/samples/WebClientAssertions/Controllers/HomeController.cs
  access-token-management/samples/WebClientAssertions/Startup.cs
Owners: @DuendeSoftware/team-bff

don't cache failure result
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
Owners: none

prevent nre in non httpcontext scenario
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/BlazorServerUserAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/HttpContextUserAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/UserAccessTokenManagementService.cs
  access-token-management/test/AccessTokenManagement.Tests/UserAccessAccessTokenManagerTests.cs
Owners: @DuendeSoftware/team-bff

some cleanups
  access-token-management/samples/WebClientAssertions/Controllers/HomeController.cs
  access-token-management/samples/WebClientAssertions/Startup.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementWithDPoPTests.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
  identity-model/samples/ClientAssertions/Program.cs
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/team-is

cleanups
  access-token-management/samples/WebClientAssertions/Controllers/HomeController.cs
  access-token-management/samples/WebClientAssertions/Program.cs
  access-token-management/samples/WebClientAssertions/Startup.cs
  access-token-management/samples/WebClientAssertions/TypedClient.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/OidcClient.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/team-is

Introduce ClientAssertionFactory to allow refreshing of Client Assertions during retries
  foss.slnx
  identity-model/samples/ClientAssertions/ClientAssertionService.cs
  identity-model/samples/ClientAssertions/ClientAssertions.csproj
  identity-model/samples/ClientAssertions/Program.cs
  identity-model/src/IdentityModel/Client/HttpClientPushedAuthorizationExtensions.cs
  identity-model/src/IdentityModel/Client/HttpClientTokenRequestExtensions.cs
  identity-model/src/IdentityModel/Client/Messages/ProtocolRequest.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/PushedAuthorizationTests.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenRequestExtensionsRequestTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-is

adjust code from main to fit 8.1 branch
  identity-model/src/IdentityModel/Client/HttpClientPushedAuthorizationExtensions.cs
  identity-model/src/IdentityModel/Client/HttpClientTokenRequestExtensions.cs
  identity-model/src/IdentityModel/Client/Messages/ProtocolRequest.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/PushedAuthorizationTests.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenRequestExtensionsRequestTests.cs
Owners: @DuendeSoftware/team-is

Introduce the capability to refresh client assertions on retry in OidcClient.
  Directory.Packages.props
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/ClientAssertionService.cs
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/NetCoreConsoleClient.csproj
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/Program.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/AuthorizeClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/OidcClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/ResponseProcessor.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-is

solve re-apply issues
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/team-is

fix formatting and nullable warnings in UserAccessAccessTokenManagerTests
  access-token-management/test/AccessTokenManagement.Tests/UserAccessAccessTokenManagerTests.cs
Owners: @DuendeSoftware/team-bff

Introduce the capability to refresh client assertions on retry in OidcClient.
  Directory.Packages.props
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/ClientAssertionService.cs
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/NetCoreConsoleClient.csproj
  identity-model-oidc-client/samples/NetCoreConsoleClient/src/NetCoreConsoleClient/Program.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/AuthorizeClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/OidcClient.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient/ResponseProcessor.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-is

make sure the client assertion is also sent on par request
  access-token-management/samples/WebClientAssertions/Controllers/HomeController.cs
  access-token-management/samples/WebClientAssertions/Views/Home/Index.cshtml
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/ConfigureOpenIdConnectOptions.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IdentityServerHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IntegrationTestBase.cs
  access-token-management/test/AccessTokenManagement.Tests/PARWithClientAssertionsTests.cs
Owners: @DuendeSoftware/team-bff

fixup
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/AuthorizationServerDPoPHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/ConfigureOpenIdConnectOptions.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementWithDPoPTests.cs
Owners: @DuendeSoftware/team-bff

fix build
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/ConfigureOpenIdConnectOptions.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IntegrationTestBase.cs
  access-token-management/test/AccessTokenManagement.Tests/PARWithClientAssertionsTests.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/team-is

prevent nre in non httpcontext scenario
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/BlazorServerUserAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/HttpContextUserAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/UserAccessTokenManagementService.cs
  access-token-management/test/AccessTokenManagement.Tests/UserAccessAccessTokenManagerTests.cs
Owners: @DuendeSoftware/team-bff

apply changes from main
  access-token-management/samples/WebClientAssertions/Controllers/HomeController.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/ConfigureOpenIdConnectOptions.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PARWithClientAssertionsTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserAccessAccessTokenManagerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementWithDPoPTests.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/team-is

make max token length configurable
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/OpenIdConnectUserTokenEndpoint.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/StoreTokensInAuthenticationProperties.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/AccessToken.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenClient.cs
  access-token-management/src/AccessTokenManagement/RefreshToken.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/StoreTokensInAuthenticationPropertiesTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
Owners: @DuendeSoftware/team-bff

Add MetadataAddress support for dynamic token endpoint
  access-token-management/src/AccessTokenManagement/ClientCredentialsClient.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenClient.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

Log token expiration and cache duration
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenManager.cs
  access-token-management/src/AccessTokenManagement/Internal/Generated/Microsoft.Gen.Logging/Microsoft.Gen.Logging.LoggingGenerator/Logging.cs
  access-token-management/src/AccessTokenManagement/Internal/Log.cs
  access-token-management/src/AccessTokenManagement/OTel/OTelParameters.cs
Owners: @DuendeSoftware/team-bff

Restore generated logging from source declarations
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/Internal/Log.cs
  foss.slnx
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/product-owners

.github/CODEOWNERS:

/*.* @DuendeSoftware/product-owners
/LICENSE @DuendeSoftware/product-owners
/access-token-management/ @DuendeSoftware/team-bff
/identity-model/ @DuendeSoftware/team-is
/identity-model-oidc-client/ @DuendeSoftware/team-is
/identity-model-introspection/ @DuendeSoftware/team-is
