Repository DuendeSoftware/foss, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

.github/CODEOWNERS:

/.github @DuendeSoftware/product-owners
/access-token-management/ @DuendeSoftware/team-bff
/identity-model/ @DuendeSoftware/team-is
/identity-model-oidc-client/ @DuendeSoftware/team-is

Use 10.0.x
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
Owners: @DuendeSoftware/product-owners

Seperate restore from format
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/ignore-this-ci.yml
Owners: @DuendeSoftware/product-owners

Temp disable dotnet format as it's broken for slnx in preview 5
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/ignore-this-ci.yml
Owners: @DuendeSoftware/product-owners

aot serialization for hybridcache
  access-token-management/samples/Worker/Program.cs
  access-token-management/samples/Worker/Worker.csproj
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/Internal/AotTrimCompatibleClientCredentialsTokenSerializer.cs
  access-token-management/src/AccessTokenManagement/Internal/DuendeAccessTokenSerializationContext.cs
  access-token-management/src/AccessTokenManagement/ServiceCollectionExtensions.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/AuthenticationFailedContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/SendingRequestContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/TokenValidatedContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/UpdateClientAssertionContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/AsyncLazy.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/CacheExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/CacheUtils.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/ClaimConverter.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/ClaimLite.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/StringExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/TokenRetrieval.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Log.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionDefaults.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionEvents.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionOptions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/PostConfigureOAuth2IntrospectionOptions.cs
  identity-model-introspection/test/Tests/Configuration.cs
  identity-model-introspection/test/Tests/Introspection.cs
  identity-model-introspection/test/Tests/Unit.cs
  identity-model-introspection/test/Tests/Util/IntrospectionEndpointHandler.cs
  identity-model-introspection/test/Tests/Util/MockHttpRequest.cs
  identity-model-introspection/test/Tests/Util/PipelineFactory.cs
  identity-model-introspection/test/Tests/Util/SimpleJson.cs
Owners: @DuendeSoftware/team-bff

allow empty client secret
  access-token-management/src/AccessTokenManagement/ClientCredentialsClient.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenClient.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
Owners: @DuendeSoftware/team-bff

fix issue with sample and clientid null
  access-token-management/samples/BlazorServer/Plumbing/OidcEvents.cs
Owners: @DuendeSoftware/team-bff

Update .editorconfig
  .editorconfig
Owners: none

Added JsonConverter attribute on types used on UserToken which were missing it
  access-token-management/src/AccessTokenManagement/IdentityToken.cs
  access-token-management/src/AccessTokenManagement/RefreshToken.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff
