Repository DuendeSoftware/foss, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

sample for a worker with fusion cache
  access-token-management/samples/WorkerWithFusionCache/Program.cs
  access-token-management/samples/WorkerWithFusionCache/WorkerWithFusionCache.csproj
  foss.slnx
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/product-owners

Update .editorconfig
  .editorconfig
Owners: @DuendeSoftware/product-owners

Allow using HttpClient with BaseAddress configured for DiscoveryCache authority
  identity-model/src/IdentityModel/Client/DiscoveryCache.cs
  identity-model/test/IdentityModel.Tests/DiscoveryCacheTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Enable nullable
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/AspNetCore.Authentication.OAuth2Introspection.csproj
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/AspNetCore.Authentication.OAuth2Introspection.Tests.csproj
Owners: none

Update introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/IntrospectionEndpointHandler.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/IntrospectionEndpointHandler.cs
Owners: none

Fix nullable dereferences
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/CacheExtensions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/StringExtensions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Log.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionExtensions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
Owners: none

Use GetRequiredService to return non-nullable
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
Owners: none

Make delegating handler argument nullable.
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Configuration.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/PipelineFactory.cs
Owners: none

Xunit capture console output in test output
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/AssemlyInfo.cs
Owners: none

ClientId and ClientSecret don't need to be specific hence nullable
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
Owners: none

options.TokenRetriever can't be set to null so don't need to validate not test for such
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Configuration.cs
Owners: none

Fix possible null dereferences errors.
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/IntrospectionEndpointHandler.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/PipelineFactory.cs
Owners: none

Add null forgiving operator
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
Owners: none

Add null-forgiving operator
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/MockHttpRequest.cs
Owners: none

Properties are nullable.
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/IntrospectionEndpointHandler.cs
Owners: none

Initialize non-nullable properties through ctor
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Context/AuthenticationFailedContext.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Context/SendingRequestContext.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Context/TokenValidatedContext.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Context/UpdateClientAssertionContext.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/ClaimConverter.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
Owners: none

More nullable fixes
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/ClaimLite.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/StringExtensions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Infrastructure/TokenRetrieval.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/PostConfigureOAuth2IntrospectionOptions.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/AssemlyInfo.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
Owners: none

Api changes
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/Context/UpdateClientAssertionContext.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/PublicApiVerification.VerifyPublicApi.verified.txt
Owners: none

Allow using HttpClient with BaseAddress configured for DiscoveryCache authority
  identity-model/src/IdentityModel/Client/DiscoveryCache.cs
  identity-model/test/IdentityModel.Tests/DiscoveryCacheTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-is

Use options validator at startup
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionExtensions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptions.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/OAuth2IntrospectionOptionsValidator.cs
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/PostConfigureOAuth2IntrospectionOptions.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Configuration.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/PublicApiVerification.VerifyPublicApi.verified.txt
Owners: none

Update remaining Configuration tests to use TestServerFixture instead of PipelineFactory
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Configuration.cs
Owners: none

Add net10.0 targets
  introspection/src/AspNetCore.Authentication.OAuth2Introspection/AspNetCore.Authentication.OAuth2Introspection.csproj
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/AspNetCore.Authentication.OAuth2Introspection.Tests.csproj
Owners: none

Introspection tests: Replace PipelineBuilder with TestServerFixture
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/TestServerFixture.cs
Owners: none

Remove pipeline factory
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Util/PipelineFactory.cs
Owners: none

Target net 8 and 9 in the interim
  .github/workflows/access-token-management-release.yml
  Directory.Packages.props
Owners: @DuendeSoftware/product-owners

Removed obsolete DateTimeExtensions and replaced usages of it
  access-token-management/samples/WebJarJwt/ClientAssertionService.cs
  access-token-management/samples/Worker/ClientAssertionService.cs
  access-token-management/samples/WorkerDI/ClientAssertionService.cs
  identity-model-oidc-client/clients/ConsoleClientWithBrowser/Program.cs
  identity-model/src/IdentityModel/DateTimeExtensions.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff, @DuendeSoftware/team-is

Loosen up the Scope Regex to be a little more compliant with rfc6749#3.3
  access-token-management/src/AccessTokenManagement/Scope.cs
  access-token-management/test/AccessTokenManagement.Tests/Types/ScopeTests.cs
Owners: @DuendeSoftware/team-bff

Add delay before checking token to alleviate flakey test
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/AccessTokenHandlerTests.cs
Owners: @DuendeSoftware/team-bff

Introduced IDPoPProofTokenFactory to allow for customizations
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/DefaultDPoPProofTokenFactory.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/IDPoPProofTokenFactory.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/OidcClientExtensions.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Owners: @DuendeSoftware/team-is

Introduced IDPoPProofTokenFactory to allow for customizations
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/OidcClientExtensions.cs
Owners: @DuendeSoftware/team-is

Added test to show if first introspection request for a token fails, subsequent requests will succeed
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/Introspection.cs
Owners: none

Update to IdentityModel 8 preview
  access-token-management/samples/WebJarJwt/ClientAssertionService.cs
  access-token-management/samples/Worker/ClientAssertionService.cs
  access-token-management/samples/WorkerDI/ClientAssertionService.cs
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
Owners: @DuendeSoftware/team-bff

Add net10.0 target to AccessTokenManagement
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  Directory.Packages.props
  access-token-management/global.json
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AccessTokenManagement.OpenIdConnect.csproj
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
  identity-model/test/IdentityModel.Tests/IdentityModel.Tests.csproj
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff, @DuendeSoftware/team-is

Run ATM tests against .NET 10 build
  Directory.Packages.props
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff

Updated .NET 10 references to GA version
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  Directory.Packages.props
  access-token-management/global.json
Owners: @DuendeSoftware/product-owners, @DuendeSoftware/team-bff

Disable deprecated push to MyGet
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-release.yml
Owners: @DuendeSoftware/product-owners

Updated to latest IdentiyModel RC
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
Owners: @DuendeSoftware/team-bff

Updated to IdentityModel 8 GA
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
Owners: @DuendeSoftware/team-bff

Add public interface for ClientCredentialsCacheDurationStore
  access-token-management/src/AccessTokenManagement/IClientCredentialsCacheDurationStore.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsCacheDurationStore.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenManager.cs
  access-token-management/src/AccessTokenManagement/ServiceCollectionExtensions.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Owners: @DuendeSoftware/team-bff

Update access-token-management/src/AccessTokenManagement/IClientCredentialsCacheDurationStore.cs
  access-token-management/src/AccessTokenManagement/IClientCredentialsCacheDurationStore.cs
Owners: @DuendeSoftware/team-bff

.github/CODEOWNERS:

/*.* @DuendeSoftware/product-owners
/LICENSE @DuendeSoftware/product-owners
/access-token-management/ @DuendeSoftware/team-bff
/identity-model/ @DuendeSoftware/team-is
/identity-model-oidc-client/ @DuendeSoftware/team-is
/identity-model-introspection/ @DuendeSoftware/team-is
