Repository DuendeSoftware/foss, pull requests merged in 2025-10, with the labels that each got.

#270 align comments for warning suppressions
  src.props
Labels: area/foss

#271 simplify private asset package references
  src.props
  test.props
Labels: area/foss

#257 Allow Using HttpClient BaseAddres for Authority in DiscoveryCache
  identity-model/src/IdentityModel/Client/DiscoveryCache.cs
  identity-model/test/IdentityModel.Tests/DiscoveryCacheTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/identity-model, impact/non-breaking

#267 Introduce IDPoPProofTokenFactory
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/DefaultDPoPProofTokenFactory.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/IDPoPProofTokenFactory.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/OidcClientExtensions.cs
  identity-model-oidc-client/src/IdentityModel.OidcClient.Extensions/DPoP/ProofTokenMessageHandler.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/DPoPTests.cs
Labels: area/foss/identity-model-oidc-client, impact/breaking
