Repository DuendeSoftware/foss, pull requests merged in 2025-04, with the labels that each got.

#165 Apply OTEL Metrics
  Directory.Packages.props
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Extensions.cs
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Perf.DevServer.ServiceDefaults.csproj
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectClientAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectUserAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserAccessTokenManagementService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/ClientCredentialsToken.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/LogMessages.cs
  access-token-management/src/AccessTokenManagement/OTel/AccessTokenManagementMetrics.cs
  access-token-management/src/AccessTokenManagement/OTel/OTelParameters.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/LogExpirationTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/StoreTokensInAuthenticationPropertiesTests.cs
Labels: area/access-token-management, impact/breaking

#171 add interface for cache key generation
  access-token-management/src/AccessTokenManagement/ClientCredentialsCacheKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/DPoPNonceStoreKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DistributedDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/HybridClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/HybridDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/IClientCredentialsCacheKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/IDPoPNonceStoreKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/Implementation/DPoPNonceStoreKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/Implementation/DefaultClientCredentialsCacheKeyGenerator.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/access-token-management, impact/breaking

#174 Added constant for new fields for RFC 9701
  identity-model/src/IdentityModel/Client/Messages/DiscoveryDocumentResponse.cs
  identity-model/src/IdentityModel/Client/Messages/DynamicClientRegistrationDocument.cs
  identity-model/src/IdentityModel/JwtClaimTypes.cs
  identity-model/src/IdentityModel/OidcConstants.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/identity-model, impact/non-breaking

#175 Add trace source for requesting access token
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Extensions.cs
  access-token-management/perf/Perf.TokenEndpoint/Program.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ActivitySources.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/HybridCacheExtMethods.cs
  access-token-management/src/AccessTokenManagement/HybridDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/LogMessages.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/access-token-management

#181 Edit DiscoveryEndpoint xmldoc for clarity
  identity-model/src/IdentityModel/Client/DiscoveryEndpoint.cs
  identity-model/src/IdentityModel/Client/Messages/DiscoveryDocumentResponse.cs
  identity-model/src/IdentityModel/Client/Messages/MtlsEndpointAliases.cs
Labels: area/foss/identity-model, impact/non-breaking

#182 Add PAR endpoint to mtls aliases in discovery
  identity-model/src/IdentityModel/Client/Messages/MtlsEndpointAliases.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/DiscoveryExtensionsTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  identity-model/test/IdentityModel.Tests/documents/discovery_mtls.json
Labels: area/foss/identity-model

#183 Cleanup of public / internal types based on api design review
  access-token-management/samples/BlazorServer/Plumbing/CookieEvents.cs
  access-token-management/samples/Web/Controllers/HomeController.cs
  access-token-management/samples/Web/Startup.cs
  access-token-management/samples/WebJarJwt/Controllers/HomeController.cs
  access-token-management/samples/WebJarJwt/Startup.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthenticateResultCache.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthorizationServerDPoPHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectClientAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/StoreTokensInAuthenticationProperties.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/TokenManagementHttpContextExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserAccessTokenManagementService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ActivitySources.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/DuendeAccessTokenSerializationContext.cs
  access-token-management/src/AccessTokenManagement/OTel/AccessTokenManagementMetrics.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerification.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
Labels: area/foss/access-token-management, impact/breaking

#187 cleanup test warnings
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Extensions.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerification.cs
  access-token-management/test/AccessTokenManagement.Tests/StoreTokensInAuthenticationPropertiesTests.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/IdentityModel.OidcClient.Tests.csproj
  test.props
Labels: area/foss/access-token-management

#55 Implement all properties for TokenIntrospectionResponse optional claims
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/TokenIntrospectionTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/identity-model

#195 Migrate to slnx, set SDK to 9.0.203, and remove SDK upper bound
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-ci.yml
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-ci.yml
  .github/workflows/identity-model-oidc-client-ci.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-ci.yml
  .github/workflows/ignore-this-release.yml
  .gitignore
  foss.sln
  foss.slnx
  global.json
Labels: area/foss, internal
