Repository DuendeSoftware/foss, pull requests merged in 2025-09, with the labels that each got.

#205 Include ErrorDescription in token response on error
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
Labels: area/foss/access-token-management

#235 remove force value object
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/UserAccessTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/DPoP/DPoPExtensions.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenManager.cs
  access-token-management/src/AccessTokenManagement/Internal/Resiliency.cs
  access-token-management/src/AccessTokenManagement/OTel/Log.cs
  access-token-management/src/AccessTokenManagement/TokenRequestParameters.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/access-token-management, impact/breaking

#229 add remaining files to CODEOWNERS
  .github/CODEOWNERS
Labels: area/foss/repo

#234 Improve the test coverage of auto cache tuning.
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/Fixtures/AccessTokenHandlingBaseFixture.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/Fixtures/ClientCredentialsFixtureWithAutoTuning.cs
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandler/Helpers/TokenHttpMessageHandler.cs
  access-token-management/test/AccessTokenManagement.Tests/FakeDistributedCache.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/FakeTimeProvider.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/TestData.cs
  access-token-management/test/AccessTokenManagement.Tests/HybridCacheExplorationTests.cs
Labels: area/foss/access-token-management

#242 Remove unused package references
  Directory.Packages.props
  src.props
Labels: impact/non-breaking, area/foss

#249 Remove Base64Url, using SDK/Runtime provided type instead.
  Directory.Packages.props
  identity-model/src/IdentityModel/Base64Url.cs
  identity-model/src/IdentityModel/Client/Messages/TokenIntrospectionResponse.cs
  identity-model/src/IdentityModel/CryptoRandom.cs
  identity-model/src/IdentityModel/IdentityModel.csproj
  identity-model/src/IdentityModel/Jwk/JsonWebkey.cs
  identity-model/src/IdentityModel/Jwk/JwkExtensions.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/identity-model

#259 Add API Verification tests
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/AspNetCore.Authentication.OAuth2Introspection.Tests.csproj
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/PublicApiVerification.VerifyPublicApi.verified.txt
  introspection/test/AspNetCore.Authentication.OAuth2Introspection.Tests/PublicApiVerification.cs
Labels: impact/non-breaking, area/foss/introspection

#258 Make DynamicClientRegistrationDocument.Extensions Non Nullable
  identity-model/src/IdentityModel/Client/Messages/DynamicClientRegistrationDocument.cs
  identity-model/test/IdentityModel.Tests/HttpClientExtensions/DynamicClientRegistrationTests.cs
  identity-model/test/IdentityModel.Tests/Verifications/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/identity-model, impact/breaking
