Repository DuendeSoftware/foss, pull requests merged in 2025-07, with the labels that each got.

#217 Align Introspection Code with Repo
  .github/CODEOWNERS
  foss.slnx
  identity-model-introspection/src/Directory.Build.props
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/AuthenticationFailedContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/SendingRequestContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/TokenValidatedContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Context/UpdateClientAssertionContext.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/IdentityModel.AspNetCore.OAuth2Introspection.csproj
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/AsyncLazy.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/CacheExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/CacheUtils.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/ClaimConverter.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/ClaimLite.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/StringExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Infrastructure/TokenRetrieval.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/Log.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionDefaults.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionEvents.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionExtensions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionHandler.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/OAuth2IntrospectionOptions.cs
  identity-model-introspection/src/IdentityModel.OAuth2Introspection/PostConfigureOAuth2IntrospectionOptions.cs
  identity-model-introspection/test/Directory.Build.props
  identity-model-introspection/test/Tests/Configuration.cs
  identity-model-introspection/test/Tests/Introspection.cs
  identity-model-introspection/test/Tests/Tests.csproj
  identity-model-introspection/test/Tests/Unit.cs
Labels: area/foss/introspection

#214 adding tags to cache
  access-token-management/src/AccessTokenManagement/HybridCacheConstants.cs
  access-token-management/src/AccessTokenManagement/Internal/ClientCredentialsTokenManager.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ConventionTests.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/TestDistributedCache.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.GetAllPublicTypes.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/foss/access-token-management

#220 Make sure hybrid cache allows AOT client credentials tokens
  access-token-management/samples/Worker/Program.cs
  access-token-management/samples/Worker/Worker.csproj
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/Internal/AotTrimCompatibleClientCredentialsTokenSerializer.cs
  access-token-management/src/AccessTokenManagement/Internal/DuendeAccessTokenSerializationContext.cs
  access-token-management/src/AccessTokenManagement/ServiceCollectionExtensions.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
Labels: area/foss/access-token-management

#223 Validate version input
  .github/workflow-gen/Program.cs
  .github/workflows/access-token-management-release.yml
  .github/workflows/identity-model-introspection-release.yml
  .github/workflows/identity-model-oidc-client-release.yml
  .github/workflows/identity-model-release.yml
  .github/workflows/ignore-this-release.yml
Labels: area/foss/repo

#224 Allow client assertions for ATM OpenIdConnect
  access-token-management/samples/WebJarJwt/Startup.cs
  access-token-management/samples/WebJarJwt/Views/Home/Secure.cshtml
  access-token-management/src/AccessTokenManagement.OpenIdConnect/Internal/OpenIdConnectConfigurationService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectClientConfiguration.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
Labels: area/foss/access-token-management
