Repository DuendeSoftware/foss, pull requests merged in 2025-03, with the labels that each got.

#135 remove .Wait() from unit tests
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenHandlerTests.cs
  access-token-management/test/AccessTokenManagement.Tests/ClientTokenManagementApiTests.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/ApiHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/AppHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/GenericHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IdentityServerHost.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/IntegrationTestBase.cs
  access-token-management/test/AccessTokenManagement.Tests/Framework/TestLoggerProvider.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementWithDPoPTests.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/Framework/GenericHost.cs
  identity-model-oidc-client/test/IdentityModel.OidcClient.Tests/DPoP/Framework/IntegrationTestBase.cs
Labels: area/all

#137 include the ID token in the refresh token result
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserToken.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/test/AccessTokenManagement.Tests/UserTokenManagementTests.cs
Labels: area/access-token-management

#138 net6.0 property group is no longer needed.
  Directory.Packages.props
Labels: area/all

#145 Fix sample aud to follow RFC 7523 bis
  access-token-management/samples/WebJarJwt/ClientAssertionService.cs
Labels: area/access-token-management, impact/non-breaking

#149 Create setup to measure the performance impact of various caching techniques
  access-token-management/perf/.gitignore
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Extensions.cs
  access-token-management/perf/Perf.DevServer.ServiceDefaults/Perf.DevServer.ServiceDefaults.csproj
  access-token-management/perf/Perf.DevServer/Perf.DevServer.csproj
  access-token-management/perf/Perf.DevServer/Perf.DevServer.v3.ncrunchproject
  access-token-management/perf/Perf.DevServer/Program.cs
  access-token-management/perf/Perf.DevServer/Properties/launchSettings.json
  access-token-management/perf/Perf.DevServer/appsettings.Development.json
  access-token-management/perf/Perf.DevServer/appsettings.json
  access-token-management/perf/Perf.IdentityServer/Config.cs
  access-token-management/perf/Perf.IdentityServer/HostingExtensions.cs
  access-token-management/perf/Perf.IdentityServer/Perf.IdentityServer.csproj
  access-token-management/perf/Perf.IdentityServer/Program.cs
  access-token-management/perf/Perf.IdentityServer/Properties/launchSettings.json
  access-token-management/perf/Perf.IdentityServer/appsettings.json
  access-token-management/perf/Perf.K6/package-lock.json
  access-token-management/perf/Perf.K6/package.json
  access-token-management/perf/Perf.K6/token.ts
  access-token-management/perf/Perf.TokenEndpoint/Perf.TokenEndpoint.csproj
  access-token-management/perf/Perf.TokenEndpoint/Program.cs
  access-token-management/perf/Perf.TokenEndpoint/Properties/launchSettings.json
  access-token-management/perf/Perf.TokenEndpoint/TokenEndpoint.http
  access-token-management/perf/Perf.TokenEndpoint/appsettings.Development.json
  access-token-management/perf/Perf.TokenEndpoint/appsettings.json
  foss.sln
Labels: area/access-token-management

#157 added public api verification tests
  access-token-management/test/AccessTokenManagement.Tests/AccessTokenManagement.Tests.csproj
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerification.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
Labels: area/access-token-management

#134 Allow a custom IDistributedCache to be resolved
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementDefaults.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DistributedDPoPNonceStore.cs
  access-token-management/test/AccessTokenManagement.Tests/BackChannelClientTests.cs
  access-token-management/test/AccessTokenManagement.Tests/TaskTimeoutExtensions.cs
Labels: area/access-token-management, impact/non-breaking

#161 fix failing build due to merge conflict
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/access-token-management

#155 add typed client support
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
Labels: area/access-token-management

#152 add constants and helper methods for DPopProofAdditionalPayloadClaims
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementDefaults.cs
  access-token-management/src/AccessTokenManagement/DPoPExtensions.cs
  access-token-management/src/AccessTokenManagement/ServiceProviderKeys.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/access-token-management, impact/non-breaking

#158 Apply log message code generation to log messages
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthenticationSessionUserTokenStore.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthorizationServerDPoPHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/StoreTokensInAuthenticationProperties.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserAccessTokenManagementService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/Crypto.cs
  access-token-management/src/AccessTokenManagement/DPoPExtensions.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DistributedDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/LogMessages.cs
  access-token-management/test/AccessTokenManagement.Tests/LogExpirationTests.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/access-token-management, impact/breaking

#168 Fix xmldoc of AddClientAccessTokenHttpClient
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
Labels: area/access-token-management, impact/non-breaking

#167 Perform cache key generation via a delegate
  access-token-management/src/AccessTokenManagement/ClientCredentialsCacheKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/DPoPNonceStoreKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DistributedDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/HybridClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/HybridDPoPNonceStore.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: area/access-token-management, impact/breaking

#169 Cleanup code in ATM
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthenticateResultCache.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthenticationSessionUserTokenStore.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthorizationServerDPoPHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/BlazorServerPrincipalAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/CircuitServicesAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/ConfigureOpenIdConnectClientCredentialsOptions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/ConfigureOpenIdConnectOptions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/IOpenIdConnectConfigurationService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/IUserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/IUserTokenManagementService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/IUserTokenRequestSynchronization.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/IUserTokenStore.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectClientAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectConfigurationService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectUserAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/StoreTokensInAuthenticationProperties.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/TokenManagementHttpContextExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/UserTokenRequestSynchronization.cs
  access-token-management/src/AccessTokenManagement/AccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/ClientCredentialsCacheKeyGenerator.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsClient.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementOptions.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/Crypto.cs
  access-token-management/src/AccessTokenManagement/DPoPExtensions.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPKeyStore.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/HybridClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/IClientAssertionService.cs
  access-token-management/src/AccessTokenManagement/IClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/IClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/IClientCredentialsTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/IDPoPKeyStore.cs
  access-token-management/src/AccessTokenManagement/IDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/IDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/ITokenRequestSynchronization.cs
  access-token-management/src/AccessTokenManagement/LogMessages.cs
  access-token-management/src/AccessTokenManagement/ServiceProviderKeys.cs
  access-token-management/src/AccessTokenManagement/TokenRequestParameters.cs
  access-token-management/src/AccessTokenManagement/TokenRequestSynchronization.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  foss.sln.DotSettings
Labels: area/access-token-management

#139 feature(accessTokenManagement): make the project AotCompatible
  access-token-management/src/AccessTokenManagement/AccessTokenManagement.csproj
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DuendeAccessTokenSerializationContext.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
Labels: state/needs-triage

#170 Make public api surface obsolete.
  access-token-management/src/AccessTokenManagement.OpenIdConnect/AuthenticationSessionUserTokenStore.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/BlazorServerPrincipalAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/CircuitServicesAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/HttpContextPrincipalAccessor.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectClientAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectConfigurationService.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement.OpenIdConnect/OpenIdConnectUserAccessTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenEndpointService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenHandler.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementBuilder.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementService.cs
  access-token-management/src/AccessTokenManagement/ClientCredentialsTokenManagementServiceCollectionExtensions.cs
  access-token-management/src/AccessTokenManagement/Constants.cs
  access-token-management/src/AccessTokenManagement/DefaultClientAssertionService.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPKeyStore.cs
  access-token-management/src/AccessTokenManagement/DefaultDPoPProofService.cs
  access-token-management/src/AccessTokenManagement/DistributedClientCredentialsTokenCache.cs
  access-token-management/src/AccessTokenManagement/DistributedDPoPNonceStore.cs
  access-token-management/src/AccessTokenManagement/DuendeAccessTokenSerializationContext.cs
  access-token-management/src/AccessTokenManagement/HybridDPoPNonceStore.cs
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi.verified.txt
  access-token-management/test/AccessTokenManagement.Tests/PublicApiVerificationTests.VerifyPublicApi_OpenIdConnect.verified.txt
Labels: area/access-token-management, impact/breaking
